<div class="contextual">
	<%= link_to t(:link_edit_document), {:controller => :doc_pu, :action => :edit, :project_id => @project, :id => @doc}, :class => "icon icon-edit" %>
</div>

<h2><%=t :heading_template_code %></h2>
<div id="template-result">
	<div style="height:400px" class="box autoscroll">
		<table>
			<tbody>
				<% @code.each do |l| %> 
					<tr>
						<td><%= l %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>